<header class="app-header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="/" class="logo">Express Movies</a>
    </div>
    <div class="navbar-links">
      <a href="/movies" class="nav-link">Films</a>
      <a href="/movie-search" class="nav-link">Recherche</a>
      <div id="connectionLink">
        <a href="/login" class="nav-link">Connexion</a>
      </div>
    </div>
  </nav>
</header>
