<div>
  <div>
    <a href="/">Express Movies</a>
    &nbsp;
    <a href="/movies">Films</a>
    &nbsp;
    <a href="/movie-search">Recherche</a>
    &nbsp;
    <span id="connectionLink"><a href="/login">Connexion</a></span>
  </div>
</div>