<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="/public/styles.css">
  </head>

  <body>
    <div class="central">
      <%- include('partials/header') %>
  
      <h1>Express Movies : les sites des cinéphiles</h1>
      <div>
        Etes-vous plutôt films ou séries ? Peu importe
      </div>
  
    </div>
    <%- include('partials/footer') %>

  </body>
</html>