<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/styles.css">
  </head>

  <body>
    <%- include('partials/header') %>
    
    <h1>Détails </h1>
    <div>
      N° <%= movieId %>
    </div>

    <%- include('partials/footer') %>

  </body>
</html>
